@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.tumu{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.header{
	border-bottom:solid 1px #000000;
	padding:15px;
}
.logo{
	width:120px;
	height:80px;
	float:left;
	margin-top:30px;
}
.temizle{
	clear:both;
}
.header-right{
	float:right;
}
.txtsearch{
	height:36px;
	border:solid 1px #000000;
	float:left;
}
.btnSearch{
	width:40px;
	height:40px;
	background-image:url(kullan%C4%B1lan/search-btn.png);
	border:none;
	float:left;
}
.search{
	margin-top:15px;
	clear:both;
	float:right;
}
.social{
	float:right;
	height:40px;
	margin-bottom:15px;
}
.content{
	margin-top:30px;
}
.menu{
	width:230px;
	float:left;
	background-color:#006;
	height:350px;
	margin-right:30px;
}
.menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.menu ul li a{
	color:#FFF;
	text-decoration:none;
	padding:10px 25px 15px;
	font-size:14px;
	display:block;
	border-bottom:solid 1px #FFFFFF;
	background-image:url(images/menuOk.png);
	background-repeat:no-repeat;
	background-position:10px center;
}
.slider{
	width:700px;
	height:350px;
	float:right;
	background-color:#F00;
}
.kampanyalar{
	margin-top:30px;
}
.sutun{
	width:300px;
	height:400px;
	float:left;
	position:relative;
	overflow:hidden;/* dışına taşan kısımları kes( yeni sezon yazısı taşmasın diye..) */
}
.sutunbosluk{
    margin-left:30px;
	margin-right:30px;	
}
.sutun span{
	position:absolute;
	width:100%;
	height:50px;
	background-color:rgba(255,0,0,0.7);
	bottom:0px;
	line-height:45px;
	padding-left:30px;
	color:#FFF;
	transition:1s; /* animasyon şeklinde küçültür. */
}
.sutun a {
	color:inherit; /* sutun spandaki rengi miras alır(renk beyaz oldu)*/
	text-decoration:none;
}
.sutun a:hover > span{/* mouse spanin içindeki a ya gelince a yazısını (Yeni sezon, İndirim, vs.) büyüt.  */
	height:400px;
	background-color:rgba(0,51,0,0.7);
	transition:1s; /* animasyon şeklinde büyütür.*/
	
	/*-webkit-text-transitation:1px;  // chrome safari 
		-ms-text-transitation:1px;     //explorer
		-moz-text-transitation:1px;     //mozilla
		-o-text-transitation:1px;        //opera     */		
}
.bolum{
	height:auto;
}
.b_bosluk{
	margin-top:30px;
}
.footer{
	margin-top:30px;
	border-top:solid 1px #000000;
	border-bottom:solid 1px #000000;
	height:70px;
	line-height:70px;
	margin-bottom:10px;
}
@media (max-width:768px) {
	.tumu{
		width:100%;
	}
	.slider{
		float:none;
		width:100%;
		height:auto;
		margin-top:30px;
}
   .slider img{
	width:100%;
	display:block;
}
.menu{
	float:none;
	width:100%;
	height:auto;
}
.sutun{
	margin-left:auto; /* margin left-right = 0 resimleri ortalar*/
	margin-right:auto;
	float:none;  /* margin left-right ın çalışması için float=none olmalı*/
	margin-bottom:30px;
}

.footer{
	padding-left:30px;
}

.menu span{
	border-bottom:solid 2px #fff;
	float:right;
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
	width:50px;
	
}
.menu ul{
	display:none;
	position:relative; 
    z-index:1000px;
	clear:both;
}
.menu:hover > ul{
	display:block;
}
 
@media (max-width:480px){
	.txtSearch{
		width:120px;
}
}






	

